# git ls-files --others --exclude-from=.git/info/exclude

# compiled object files and Python code
*.[oa]
*.so
*.pyc
*.mod
*.slo
*.lo
*.o

# File system metadata
.DS_Store

# Temporary/swap files
*~

#Eclipse
.pydevproject
.sconsign.dblite
.settings/

# PyClaw-specific files to ignore
bin
_output
_plots
petclaw.log
pyclaw.log
.noseids
_build
gallery
*.so
*.dylib
*.lai
*.la
*.a
/files.mk
/compiler-minutes.txt
/makefile~
build/
PeanoClaw.egg-info

#Testscenarios
testscenarios/breakingDam/rank-*-trace.txt
testscenarios/communicationOptimization/rank-*-trace.txt
